version: '3.9'

services:
  postgres:
    image: bitnami/postgresql:14
    container_name: order_postgres
    restart: always
    environment:
      POSTGRES_USER: order_user
      POSTGRES_PASSWORD: order_pass
      POSTGRES_DB: orders
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/bitnami/postgresql
    networks:
      - order-network

  rabbitmq:
    image: bitnami/rabbitmq:3.12
    container_name: order_rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - order-network

networks:
  order-network:

volumes:
  postgres_data:
